@font-face {
  font-family: "MyFont";
  src: url("./PressStart2P-Regular.ttf");
}

* {
  font-family: "MyFont";
}

html,
body {
  margin: 0;
  height: 100%;
}
.baseContainer {
  display: grid;
  text-align: center;
  width: 100%;
  height: 100%;
  grid-template: 1fr 9fr/5fr 1fr;
}

.gameTitle {
  grid-area: 1/1/2/2;
  font-size: 150%;
  padding: 2%;
  display: grid;
  grid-template: 2fr 1fr/1fr 1fr;
}
.upperTitle {
  grid-area: 1/1/2/3;
  text-shadow: 4px 4px #cbd5e1;
  font-size: 200%;
  margin-bottom: 3%;
}
.playerName1 {
  grid-area: 2/1/3/2;
}
.playerName2 {
  grid-area: 2/2/3/3;
}

.gameContainer {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template: 10fr 1fr/1fr 1fr;
  gap: 5%;
  margin-left: 7%;
  margin-right: 2%;
}
.player1GameBoard {
  grid-area: 1/1/2/2;
}
.player2GameBoard {
  grid-area: 1/2/2/3;
}

.player1GameBoard,
.player2GameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2%;
}
.displaySentence {
  grid-area: 2/1/3/3;
}
.legends {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 1fr);
}

.legendBlock {
  display: flex;
  font-size: 60%;
}

.occupiedLegend,
.hitAttacksLegend,
.missedLegend,
.sunkLegend {
  width: 70px;
  height: 70px;
  margin: 5px;
}

.occupied,
.occupiedLegend {
  background-color: #a3a3a3;
}
.hitAttacks,
.hitAttacksLegend {
  background-color: #ea580c;
}
.missed,
.missedLegend {
  background-color: #bef264;
}
.sunk,
.sunkLegend {
  background-color: black;
}
.p {
  margin: 10px;
}

.emptySlot {
  background-color: #7dd3fc;
}

.enemySlot:hover {
  background-color: #0ea5e9;
  margin: 10%;
}
